@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
.Home{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 540px;
    width: 330px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    padding:0.5% ;
    .content{
        width: 100%;
        height: 92%;
        h1{
            font-family: "Bebas Neue", sans-serif;  
            text-align: center;
            color: rgb(1, 1, 117);
            border-bottom: 1px dashed rgb(1, 1, 117);
        }
    }
    .footer{
        margin: auto;
        width: 96%;
        height: 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .border{
            width: 40%;
            border-bottom: 2px solid rgb(1, 1, 117);
        }
        img{
            height: 30px;
            width: 30px;
            border: 1px solid rgb(1, 1, 117);
            border-radius: 50%;
        }
    }   
}